@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0d0d0d;
}

body {
  --sb-track-color: #0d0d0d;
  --sb-thumb-color: #c84c31;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}
.shape{
  border-radius: 68% 24% 30% 61% / 48% 33% 56% 52%;  
  /* border-radius: 75% 25% 25% 75% / 49% 38% 62% 51%; */

}

.mask{
  position: absolute;
  mask-image: url('../public/mask.svg');
  background-color: #c84c31;
  mask-size: 100px;
  mask-repeat: no-repeat;
  color: black;
}
.card{
  box-shadow:  5px 5px 10px #050505,
  -5px -5px 10px #151515;}
